

@if (null != null)
{
    <div class="container">
        <div id ="input_div" >
            <div id="sentiment_result">
                <img src ="/Images/Sentiment/emotion_web.png"/>
            </div>

            <div class="input-group" style="background-color: white">
            
                <span class="input-group-addon">
                    <img id="bLogo" class="blogo2" src="/Images/Sentiment/microphone_light.png" data-bm="3">
                </span>
                <!--
                <div class="input-group-addon">
                    <input tabindex="0" title="" class="microphone" id="btnMicrophone" type="button">
                </div>
                -->
                <input type="search" name="q" style="border-style: none;" class="form-control"
                       placeholder="说点啥..." value="" id="searchInput">

                <div class="input-group-btn" style="background-color: white">
                    <input tabindex="0" title="Search" class="b_searchboxSubmit" id="btnSubmit" type="button">
                </div>

            </div>
        </div>
    <!--
        <div id ="eotion_bck">
            <img id ="eotion_img" src ="/Images/Sentiment/emotion_web_bcg.png"/>
        </div>
    -->
        <div id ="eotion_process">
            <img src ="/Images/Sentiment/loading.gif"/>
        </div>

        <div id="div_voice">
            <div id="divCover">
                <div id="speaking"></div>
                <div id="innercircle"></div>
                <div id="outcircle"></div>
            </div>

            <div id="div_finish">
                <span class="btn_Finish" id="btnFinish">完成</span>
            </div>
        </div>

    </div>

}
else
{
    <div class="container">
        <span>服务器去太空了，正在试图取得联系...</span>
    </div>
}
