@menu-color-link: #666;
@menu-color-link-active: #f66;
@menu-color-bg: #eee;
@menu-color-bg-active: #ccc;
@menu-height: 50px;
@menu-width-link: 40px;
@menu-fontsize-icon: 24px;
@menu-fontsize-text: 14px;
@menu-size-caret: 5px;

.menu {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: @menu-height;
	background-color: @menu-color-bg;

	> .menu-fixed {
		position: absolute;
		top: 0;
		bottom: 0;
		width: @menu-width-link;

		&.menu-l {
			left: 0;
		}
		&.menu-r {
			right: 0;
		}
	}
	a.menu-link {
		width: @menu-width-link;
		text-align: center;
		font-size: @menu-fontsize-icon;
		padding: 0;
		line-height: @menu-height;
		display: block;
		color: @menu-color-link;

		&:active {
			background-color: @menu-color-bg-active;
			color: @menu-color-link-active;
		}
	}
	> ul {
		margin: 0;
		padding: 0;
		position: absolute;
		left: @menu-width-link;
		right: @menu-width-link;
		text-align: center;

		> li {
			list-style: none;
			display: inline-block;
			margin: 0;

			> a {
			}
		}
	}

	.menu-level-selector {
		position: absolute;
		bottom: @menu-height + @menu-size-caret;
		width: 96%;
		left: 2%;
		border-radius: @border-radius;
		height: @menu-height;
		background-color: @menu-color-bg;

		> ul {
			margin: 0;
			padding: 0;
			text-align: center;
			overflow: hidden;

			> li {
				width: 16.667%;
				list-style: none;
				float: left;
				margin: 0;

				> a {
					text-align: center;
					font-size: @menu-fontsize-text;
					padding: 0;
					line-height: @menu-height;
					display: block;
					color: @menu-color-link;

					&:active {
						background-color: @menu-color-bg-active;
						color: @menu-color-link-active;
					}
				}
			}
		}

		> .caret {
			border-width: @menu-size-caret;
			position: absolute;
			top: @menu-height;
			left: 50%;
			margin-left: -@menu-size-caret;
			border-top-color: @menu-color-bg;
		}
	}
}