@photo-control-color-bg: #eee;
@photo-control-height: 120px;
@photo-control-button-width: 40px;
@photo-control-fontsize-icon: 20px;

.photo {
	.photo-upload-btn {
		display: block;
		width: 100px;
		height: 100px;
		margin: 100px auto 0;
	}
	.photo-control-panel {
		width: 100%;
		position: fixed;
		bottom: @menu-height;
		left: 0;
		text-align: center;
		height: @photo-control-height;
		overflow: hidden;

		&.photo-control-active {
			> .photo-control-pad {
				background: none;
				background-color: @color-black;
				font-size: 0;
			}
		}

		> .photo-control-pad {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: @photo-control-button-width;
			.tablecloth();
			font-size: 10px;

			> img {
				max-width: 100%;
				max-height: @photo-control-height;
			}

			> .photo-control-focus {
				font-size: 20px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -10px;
				margin-left: -10px;
				line-height: 20px;
				width: 20px;
				font-weight: 100;
				color: #0f0;

				> i {
					display: block;
				}
			}
		}

		> ul.photo-control-button {
			position: absolute;
			width: @photo-control-button-width;
			top: 0;
			bottom: 0;
			right: 0;
			margin: 0;
			padding: 0;

			> li {
				list-style: none;

				> a {
					display: block;
					line-height: @photo-control-button-width;
					font-size: @photo-control-fontsize-icon;
				}
			}
		}
	}
	.photo-preview {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		bottom: @photo-control-height + @menu-height;
		/*overflow: scroll;*/
		overflow: hidden;

		> img {
			position: absolute;
			top: 0;
			left: 0;
			transition: all .4s ease-out;
		}
	}
}
