
.photo {
	.photo-upload-btn {
		display: block;
		width: 100px;
		height: 100px;
		margin: 100px auto 0;
	}
	.photo-control-panel {
		width: 100%;
		position: fixed;
		bottom: @menu-height;
		left: 0;

		> img {
			width: 100%;
			max-height: 200px;
		}
	}
}
