<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="mates" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mates" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mates" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="mates" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mates - 毕业照</title>
  <meta name="description" content="'回首青葱岁月，打开尘封的毕业照">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" type="text/css" href="bower_components/html5-boilerplate/dist/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="bower_components/ionicons/css/ionicons.min.css" />
  <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/build/loading-bar.min.css" />

  <link rel="stylesheet" type="text/css" href="lib/foundation/5.5.2/foundation.min.css" />

  <link rel="stylesheet" type="text/css" href="styles/app.min.css?#v#" />

  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="scroll">
    <div ui-view="content"></div>
    <div ui-view="menu"></div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/ng-flow/dist/ng-flow-standalone.min.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/hammerjs/hammer.min.js"></script>
  <script src="bower_components/ryanmullins-angular-hammer/angular.hammer.min.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>

  <!-- Weixin JS-SDK -->
  <script src="lib/weixin/1.0.0/jweixin-1.0.0.js"></script>

  <script src="lib/imagePinch/0.1.0/imagePinch.js"></script>
  <script src="lib/angular-modal/0.5.0/modal.min.js"></script>

  <script src="scripts/app.js?#v#"></script>
  <script src="scripts/templates.js?#v#"></script>
  
  <script>
    document.body.addEventListener("touchmove", function(event) {
      event.preventDefault();
      event.stopPropagation();
    }, false);
    document.querySelector('.scroll').addEventListener("touchmove", function(event) {
      event.stopPropagation();
    }, false);
  </script>
</body>
</html>
